@charset "UTF-8";



*{margin: 0;}
/* 웹표준 조건을 위해 설정 */

#main-box{
    width: 1000px;
    height: 600px;
    background-color: gainsboro;
    margin: auto;
    /* margin 좌우에만 적용되고 좌우에 동일한 margin 적용> 중앙배치(부모기준) */
}

        /* div는 block요소이기 때문에 부모인 main-box의 너비가 적용됨 / %는 부모기준 */
#header{
    height: 100px;
    background-color: rgb(248, 235, 235);
}

#aside{
    background-color: rgba(153, 205, 50, 0.253);
    width: 30%;
    height: 400px;
    /* menu라서 굳이 자동으로 늘어나지 않아도 됨. min해도 되긴 함 */
    float: left;

}
/* 크기조정을 했더라도 block요소라서 한 줄 차지함. 같은 layer라서 겹치지 못함. 
    float상태로 변경하면 layer를 들어올려서 배치. 둘 다 float상태에서 같은 방향으로 지정하면 순서대로 붙게 됨.
    float되면 뜨지 않은 footer가 header뒤로 붙게 됨 > footer에서 뜨게 된 애들을 다시 바닥에 붙여줌 clear: left;
    */
#content{
    min-height: 400px;
        /* 데이터의 양과 무관한 최소 높이 설정 / height: auto로 설정해서 데이터가 더 많아지면 자동으로 늘리도록 함*/
    height: auto;
    background-color: rgba(245, 245, 220, 0.493);
    width: 70%;
    float: left;
}
#content>div{
	padding: 30px;
}

#footer{
    height: 100px;
    background-color: skyblue;
    clear: left;
    /* float 상태를 해제 / float방향을 신경쓰고 싶지않을 때 clear: both;*/
}

/* aside와 콘텐츠의 위치를 바꾸는 방법
    1. html에서 div의 순서를 바꿈
    2. css에서 float: right로 변경하고 clear: right로 변경.
     */

#title{
	text-align: center;
	color: #0080ff;
	text-shadow: 1px 1px 1px black;
	margin-top: 10px;
	
	
}





